*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: dodgerblue;

}
.nav-menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-links{
    text-decoration: none;
    color: #4e29f1;
    transition: 0.3s ease;
}
.nav-items .nav-links:hover(.active){
    color: #4e29f1;
}
.nav-links:hover{
    color: whitesmoke;
}
.nav-brand{
    text-decoration: none;
    color: #4e29f1;
    font-size: 32px;
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    font-size: medium;
}
.hamburger{
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: whitesmoke;
}
@media(max-width:728px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: dodgerblue;
        width: 100%;
        height: 190px;
        text-align: center;
        transition: 0.3s;
    }
    .nav-items{
        margin: 16px 0;
        /* padding: 16px 0; */
    }
    .nav-menu.active{
        left: 0;
    }
}


/* NAVBSR ENDED  */

.log-back{
    background: #222f3e;
    height: 90vh;
    width: calc(100% - 2px);
    transform: all 3s ease-in-out;
    transform-origin: left;
    
}
.button{
    padding: 4px;
    background: #fff;
    border: none;
    outline: none;
    /* font-size: 18px; */
    /* text-transform: uppercase; */
    cursor: pointer;
    margin-left: auto;
}
.sw-bu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
    height: 330px;
    width: 320px;
    /* .bu1{
        grid-column: 1/3;
    }  */
    /* .log-btn{
        grid-column: 1/3 ;
    } */
}
.cardinner{
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    display: grid;
    place-items: center;
    
}
.circle1{
    /* width: 120px;
    height: 120px;
    background: radial-gradient(#33e660, #162fd2);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 1s
    ease-in-out infinite alternate-reverse;
    z-index: -1; */
    transform: translate(-152px, -162px);
}
.circle2{
    /* width: 120px;
    height: 120px;
    background: radial-gradient(#33e660, #162fd2);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 1s
    ease-in-out infinite alternate-reverse;
    z-index: -1; */
    transform: translate(152px, 160px);
}
:is(.circle1, .circle2){
    width: 120px;
    height: 120px;
    background: radial-gradient(#33e660, #162fd2);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 1s
    ease-in-out infinite alternate-reverse;
    z-index: -1;
}

.log-btn{
    text-decoration: none;
    letter-spacing: 2px;
    outline: 2px solid whitesmoke;
    padding: 5px;
    margin-right: 90px;
    color: whitesmoke;
    transition: color 1s;
    position: relative;
    overflow: hidden;
    
}
.log-btn:hover{
    color: red;
}
.log-btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: whitesmoke;
    transform: skewX(35deg);
    z-index: -1;
    transition: width 1s;
}
.log-btn:hover::before{
    width: 200%;
}
.rst-btn{
    padding: 5px;
    margin-right: 10px;
}
.button{
    margin-left: 90px;
}
/* .bu2{
    width: 100%;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 30px; 
}
.bu1{
    width: 100%;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 30px; 
} */

:is(.bu2, .bu1){
    width: 100%;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 30px; 
}
/* .cardinner:nth-child(2){
    grid-column: 1/3;
} */
.nl{
    position: absolute;
    left: 0;
    padding: 10px 5px;
    color: rgb(162, 162, 162);
    font-size: 30px;
    pointer-events: none;
    transition: 0.5s;
}
.bu1:valid ~ label,
.bu1:focus ~ label{
    transform: translateY(-10px);
    /* color: rgb(162, 162, 198); */
    color: #fff;
    font-size: 16px;
}
.bu2:valid ~ label,
.bu2:focus ~ label{
    transform: translateY(-10px);
    /* color: rgb(162, 162, 198); */
    color: #fff;
    font-size: 16px;
}
